body {
  padding: 0;
  margin: 0;
  background-color: #c98949de;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  margin: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 5px;
  color: #555;
  background-color: #a09b96;
  border-radius: 5px;
  box-shadow: 10 10 30px rgba(0, 0, 0, 0.2);
}

.legend .redGr90 {
  color: #ff0410;
}

.legend .oranGr70 {
  color: #e24000;
}

.legend .yellowGr50 {
  color: #ffee00;
}

.legend .greenGr30 {
  color: #1b9103;
}

.legend .limeGr10{
  color: #2eec47;
}

.legend .whiteLe10{
  color: whitesmoke;
}